section#popular-articles ul[articles-list] {
    list-style: none;
    padding-left: 0;
}


/* ul[articles-list] li div {
    background-size: cover;
}

ul[articles-list] li div [data-title] {
    cursor: pointer;
} */
